.newsLetterBanner {
  width: 600px;
  height: 65px;
  position: absolute;
  bottom: 100px;
  left: 7%;
  z-index: 10;
}

.newsLetterBanner input {
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 50px;
  border: 0px;
  outline: none !important;
  padding-left: 80px;
  padding-right: 200px;
  font-size: 18px;
}

.newsLetterBanner button {
  height: 65px !important;
  padding: 10px 50px !important;
  border-radius: 50px !important;
  color: #fff !important;
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 16px !important;
  text-transform: capitalize !important;
  font-weight: 400 !important;
}

.newsLetterBanner svg {
  position: absolute;
  top: 15px;
  left: 30px;
  z-index: 10;
  font-size: 30px !important;
  transform: rotate(-31deg);
  opacity: 0.5;
}
